* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
body {
  background-color: #5c4b7a;
  min-width: 320px;
}
.container-encryptor {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.encryptor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
  border-radius: 4px;
}
.encryptor h1 {
  color: white;
  font-size: 1.5rem;
}
.encryptor p {
  color: greenyellow;
}
.encryptor__container-text {
  background-color: #292b36;
  max-width: 550px;
  min-width: 248px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.encryptor__input {
  border: none;
  background-color: #292b36;
  color: white;
  outline: none;
  width: 100%;
}

.encryptor__input::placeholder {
  user-select: none;
}

.encryptor__output {
  word-break: break-all;

  max-height: 300px;
  overflow-x: auto;
}

#encryptor__range {
  align-self: flex-start;
  width: 80%;
  accent-color: #292b36;
}
output {
  color: white;
}

.btn-copy {
  color: white;
  background-color: #292b36;
  border-radius: 5px;
  padding: 5px;
  border: none;
  display: none;
}

.btn-copy--active {
  display: initial;
}

@media (min-width: 768px) {
}
